<form (ngSubmit)="onSubmit()" [formGroup]="formSignUp">
  <input type="text" placeholder="Email" formControlName="email">
  <p *ngIf="formSignUp.get('email').errors.required && formSignUp.get('email').touched">
    Email is required
  </p>
  <br><br>
  <input type="password" placeholder="Password" formControlName="password">
  <br><br>
  <div formGroupName = "subjects">
    <label><input type="checkbox" formControlName="nodeJS">NodeJS</label>
    <label><input type="checkbox" formControlName="angular">Angular</label>
    <label><input type="checkbox" formControlName="reactJS">ReactJS</label>
</div>
  <br><br>
  <button [disabled]="formSignUp.invalid">Submit</button>
</form>
<code>{{formSignUp.get('email').errors | json}}</code>
